<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/srinivasulukolluri/Documents/Selenium_My_FrameWork_IntelliJ/Selenium_My_FrameWork_IntelliJ/src/test/java/testcases">
        <classes>
            <!--
            <class name="testcases.AddAccountTest">
                <methods>
                    <include name="testToVerifyAddNewAccountPage"/>
                </methods>
            </class>
            <class name="testcases.CreateCustomerNew">
                <methods>
                    <include name="testToVerifyLoginWithValidUserIdAndValidPassword"/>
                </methods>
            </class>
            -->
            <class name="testcases.LoginTest">
                <methods>
                    <include name="testToVerifyLoginWithValidUserIdAndValidPassword"/>
                    <include name="testToVerifyLoginWithInvalidUserIdAndInvalidPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>